.presentation {
    @include full-width;
    @include flex-full-center;    
    flex-direction: column;
    background-color: $couleur-backgrounds;
    height: 380px;
    &__titre {
        text-align: center;
        width:66%;
        font-size: 21px;
    }
    &__sous-titre {
        font-family: $police-principale;
        font-size: 23px;
        text-align: center;
        width:90%;
        margin-top: 14px;
        margin-bottom: 40px;
    }
    p {
        @include reset-margin-padding;
    }
    &__call-to-action {
        margin-bottom: 20px;
    }
}

.menu {
    &__titre {
        @include flex-full-center;
        justify-content: space-between;
        align-items: center;
        width:90%;
        max-width: 900px;
        i {
            font-size: 32px;
            margin-right: 20px;
        }
        @media (min-width: 992px) {
            margin-bottom: 40px;
            align-items: flex-start;
        }
    }
    &__container {
        padding-top: 44px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

    }
    &__partie {
        width: 100%;
        margin-top: 40px;
        margin-bottom: 10px;
        h2 {
            font-family: $police-principale;
            font-size: 21px;
        }
        @media (min-width: 992px) {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            padding-bottom: 40px;
            margin-top:20px;
            height:auto;
            > div {
                margin:16px;
                margin-left: 35px;
                margin-right: 35px;
            }
            .carte-menu {
                max-width: 255px;
                min-width: 100px;
                height: 200px;
                justify-content: space-between;
                padding: 0px;
                padding-left: 24px;
                margin-top: 19px;
                margin-left: 20px;
                margin-right: 20px;
                margin-bottom: 0px;
                &__prix {
                    margin-right: 16px;
                    margin-top: auto;
                    padding-bottom: 10px;
                    p {
                    font-family: $police-principale-gras;
                    font-size: 26px;
                    }
                }
            
            }
        }
    }
    &__partie-titre {
        margin-left:20px;
        @media (min-width: 992px) {
            width:100%;
            text-align: center;
            margin-top: 20px;
            > .barre-couleur-tertiaire {
                margin:auto;
                margin-top: 8px;
            }
        }
    }
    &__call-to-action {
        margin-top: 40px;
    }
}
