header {
    height: 85px;
    position: relative;
    z-index: 1;
    @include full-width;
    @include flex-full-center;
    @include header-shadow-light;
}

.top-bar {
    &__with-back-button {
    @include flex-full-center;
    @include full-width;
    @include reset-margin-padding;
    justify-content: space-between;
    .empty-box {
        width: 7%;
    }
    }
    &__back-button {
        @include reset-margin-padding;
        padding: 9px 11px;
        margin-top: 5px;
        left:15px;
        border-radius: 6px;
        font-size: 26px;
        i {
            @include reset-margin-padding;
        }
        a {
            color: $couleur-footer;
        }
    }
    &__logo {
        margin:auto;
        margin-top:14px;
        max-width: 80%;
        img {
            width:200px;
            height: 35px;
        }        
    }
}