@font-face {
	font-family: roboto-bold;
	src: url(../assets/fonts/Roboto/Roboto-Bold.ttf)
}

@font-face {
	font-family: roboto-light;
	src: url(../assets/fonts/Roboto/Roboto-Light.ttf)
}

@font-face {
	font-family: roboto-regular;
	src: url(../assets/fonts/Roboto/Roboto-Regular.ttf)
}

@font-face {
	font-family: shrikhand;
	src: url(../assets/fonts/Shrikhand/Shrikhand-Regular.ttf)
}

