.animated-heart {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left:-14px;
        &__background {
        background-image: $gradient-principal;
        background-size: 100%;
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-text-fill-color: transparent;
        position: absolute;
        z-index: 0;
        opacity: 1;
        transform: scale(0);
        transform-origin: center center;
        transition: transform 400ms ease;
    }
    &__forward {
        position: absolute;
        z-index: 1;
        transition: opacity 400ms ease-out;
        &:hover {
            opacity: 0;
        }
        &:hover + .animated-heart__background{
             transform: scale(1);
             transform-origin: center center;
        }
    }   
}

.loader-screen {
    background-color: white;
    position:fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;    
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeout 500ms $loader-duration ease forwards;
    .fa-regular.fa-heart {
        position: relative;
    }
    &__forward-text {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 1;
        @include reset-margin-padding;
        font-family: $police-principale-gras;
        font-size: clamp(20px, 13vw, 66px);
        color: $couleur-secondaire;
        &__letter {
            animation: letters $anim-dur ease infinite;
            animation-direction: alternate;
            margin:12px;
            @for $i from 1 through $num-letters {
                &--#{$i} {
                    animation-delay: $anim-delay * $i;
                }
            }
        }
    }
    &__background-text {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 0;
        @include reset-margin-padding;
        font-family: $police-principale-gras;
        color: $couleur-primaire;
        font-size: clamp(20px, 13vw, 66px);
        &__letter {
            animation: letters-nocolor $anim-dur ease infinite;
            animation-direction: alternate;
            margin:12px;
            @for $i from 1 through $num-letters {
                &--#{$i} {
                    animation-delay: $anim-delay * $i;
                }
            }
        }
    }
}

@keyframes letters {
    0% {
        transform: scaleY(1);
        opacity:1;
    }
    50% {
        transform: scaleY(1.1);
        opacity:0;
    }
    100% {
        transform: scaleY(1);
        opacity:1;
    }
}

@keyframes letters-nocolor {
    0% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(1.1);
    }
    100% {
        transform: scaleY(1);
    }
}

@keyframes fadeout {
    0% {
        opacity: 100%;
    }
    100% {
        z-index: -100;
        opacity: 0%;
    }
    
}

.restaurant-menu {
    animation: bg-color-fade-in 2200ms ease forwards;
}

@keyframes bg-color-fade-in {
    0% {
        background-color:white;
    }
    100% {
        background-color: $couleur-backgrounds;
    }
}

.menu__container {
    animation: menu-content-fade-in 1800ms ease forwards;
}

@keyframes menu-content-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
 

.carte-menu__check {
    transform: translate(100px);
    transform-origin: right;
    transition: all 400ms ease-in-out;
}

.carte-menu {
    &__textes {
        width:100%;
        padding-right: 0px;
        transition: width 400ms ease-in-out;
    }
    i {
        transform: rotate(-270deg);
        transition: transform 200ms 200ms ease-in-out;
    }
    &:hover .carte-menu__textes {
        width: 80%;
    }
    &:hover .carte-menu__check {
        transform: translate(0px);
    }
    &:hover i {
        transform: rotate(0deg);
    }
}

.carte-menu {
    animation: card-appear 800ms ease forwards;
    opacity: 0;
    @for $i from 1 through 9 {
        &--#{$i} {
            animation-delay: 150ms * $i;
        }
    }
}

@keyframes card-appear {
    0% {
        transform: translate(0px, 50px) ;
    }
    100% {
        opacity: 1;
        transform: translate(0px, 0px) ;
    }
}