$couleur-primaire: #9356DC;
$couleur-primaire-lighter: lighten($couleur-primaire, 35%);
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;
$couleur-tertiaire-darker: darken($couleur-tertiaire, 40%);
$couleur-localisation: #EAEAEA;
$couleur-backgrounds: #F6F6F6;
$couleur-icones: #7E7E7E;
$couleur-footer: #353535;
$gradient-principal: linear-gradient(340deg, $couleur-primaire 0%, $couleur-secondaire 100%);
$gradient-principal-clair: linear-gradient(340deg, lighten($couleur-primaire, 5%) 0%, lighten($couleur-secondaire, 5%) 100%);
$police-principale: roboto-light, arial, sans-serif;
$police-principale-intermediaire: roboto-regular, arial, sans-serif;
$police-principale-gras: roboto-bold, arial, sans-serif;
$police-fantaisie: shrikhand, arial, sans-serif;
$num-letters: 9;
$anim-dur: 1200ms;
$anim-delay: calc($anim-dur / $num-letters);
$loader-duration: 2500ms;